<%- layout('layouts/boilerplate') %>

      <!-- Profile header -->
      <div class="profile-header">
            <% if(user.avatar) { %>

                  <img src="<%= user.avatar %>" alt="Avatar">
                  <% } %>
                        <h3>
                              <%= user.displayName || user.username%>
                        </h3>
                        <p class="text-muted">@<%= user.username %>
                        </p>
                        <span class="badge bg-<%= user.role === 'admin' ? 'danger' : 'primary' %>">
                              <%= user.role %>
                        </span>
      </div>

      <!-- About user-->
      <div class="stat-section">
            <div class="stat-card">
                  <h3></h3>
            </div>
            <div class="stat-card">
                  <h3></h3>
            </div>

      </div>

      <!-- Trek Grid -->

      <div class="treks-section">
            <h3>Treks Created</h3>
            <% if(user.treks) { %>
                  <div class="row">
                        <div class="col-md-4">
                              <!-- Trek-Card -->
                        </div>
                  </div>
                  <% } else { %>
                        <p>Not Treks created.</p>
                        <% } %>

      </div>