<%- layout('layouts/boilerplate') %>

      <!-- Profile header -->
      <div class="card">

            <div class="profile-header card-header">
                  <% if(user.avatar) { %>
                        <img src="<%= user.avatar %>" referrerpolicy="no-referrer" class="rounded-circle"
                              style="height:50px;width:50px" alt="<%= user.username %>" />
                        <% } %>
                              <span>

                                    <h3>
                                          <%= user.displayName || user.username%>
                                    </h3>
                              </span>
                              <p class="text-muted">@ <%= user.username || user.displayName %>
                              </p>
                              <span class="badge text-<%= user.role === 'admin' ? 'danger' : 'muted' %>">
                                    <%= user.role %>
                              </span>
                              <a href="/user/profile/<%= user._id%>/edit" class="btn btn-primary">Edit</a>
            </div>
      </div>

      <!-- About user-->
      <div class="stat-section">
            <div class="stat-card">
                  <h3>About User.....</h3>
                  <p>Fucking Moron.</p>
            </div>
            <div class="stat-card">
                  <h3></h3>
            </div>

      </div>

      <!-- Trek Grid -->

      <div class="treks-section">
            <h3>Treks Created</h3>
            <% if(user.treks) { %>
                  <div class="row">
                        <div class="col-md-4">
                              <!-- Trek-Card -->
                        </div>
                  </div>
                  <% } else { %>
                        <p>Not Treks created.</p>
                        <% } %>

      </div>